# <center>数据科学实训营第5期<center>
### <CENTER>TEST1 第2部分 Pandas练习题<center>
### <center>作者：寒小阳、助教_温井<center>

-------
## >>>作业说明：
### 1. 答题步骤：
- 回答问题**请保留每一步**操作过程，请不要仅仅给出最后答案
- 请养成代码注释的好习惯

### 2. 解题思路：
- 为方便大家准确理解题目，在习题实战中有所收获，本文档提供了解题思路提示
- 解题思路**仅供参考**，鼓励原创解题方法，鼓励自学pandas技巧
- 为督促同学们自己思考，解题思路内容设置为**白色**，必要时请从冒号后拖动鼠标查看

### 3. 所用数据：
- 问题使用了多个数据库，请注意导入每个数据库后都先**查看和了解数据的基本性质**，后面的问题不再一一提醒
- 数据库有些从给出网址读入，另一些请从群文件下载到本地后导入

--------
## >>>作业提交：
#### 邮箱：homework@xiniuedu.com
- 以收到自动回复为准

#### 邮件命名：**实训营-TestX-QQ号码-QQ群昵称**

#### 提交方式：
- 请将作业文档与相关数据、相关文件，以压缩包形式提交

#### 提交时间：
- 及时提交时间：2018年4月20日23:59
- 本次作业满分10分，及时提交有0.5分的加分
- 作业在2018年6月30日之前均可提交，不及时提交不扣分，但作业批改速度较慢，请理解
-------

### 步骤1. 载入需要的库

In [2]:
import pandas as pd

### 步骤2. 导入数据
## 回答问题1 ~ 4请从[这个地址]([address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)导入数据，给该数据分配一个变量chipo
- 提醒：读数据前看一下分隔符（逗号？tab？空格？）
- 注意：回答问题前查看数据，了解每一列的意义，检查数据类型

In [3]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=False, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=False, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
        The string could be a URL. Valid URL schemes include http, ftp, s3, and
        file. For file URLs, a host is expected. For instance, a local file could
        be file ://localhost/path/to/table.csv
    sep : str, default ','
        Delimiter to use. If sep is None, will try to automatically determine
        this. Separators longer than 1 character and different from ``'\s+'`` will
        be interpreted as regular expressions, will force use of the python parsing
        engine and will ignore quotes in the data. Regex example: ``'\r\t'``
    delimiter : str, default ``None``
        Alternative argument name for sep.
    delim_whitespace : boolean, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    header : int or list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the data.
        Default behavior is as if set to 0 if no ``names`` passed, otherwise
        ``None``. Explicitly pass ``header=0`` to be able to replace existing
        names. The header can be a list of integers that specify row locations for
        a multi-index on the columns e.g. [0,1,3]. Intervening rows that are not
        specified will be skipped (e.g. 2 in this example is skipped). Note that
        this parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so header=0 denotes the first line of data
        rather than the first line of the file.
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None. Duplicates in this list are not
        allowed unless mangle_dupe_cols=True, which is the default.
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    usecols : array-like, default None
        Return a subset of the columns. All elements in this array must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid `usecols`
        parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Using this parameter
        results in much faster parsing time and lower memory usage.
    as_recarray : boolean, default False
        DEPRECATED: this argument will be removed in a future version. Please call
        `pd.read_csv(...).to_records()` instead.

        Return a NumPy recarray instead of a DataFrame after parsing the data.
        If set to True, this option takes precedence over the `squeeze` parameter.
        In addition, as row indices are not available in such a format, the
        `index_col` parameter will be ignored.
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    prefix : str, default None
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        (Unsupported with engine='python'). Use `str` or `object` to preserve and
        not interpret dtype.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    skipinitialspace : boolean, default False
        Skip spaces after delimiter.
    skiprows : list-like or integer, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    skip_footer : int, default 0
        DEPRECATED: use the `skipfooter` parameter instead, as they are identical
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'nan'`.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to.
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values
    parse_dates : boolean or list of ints or names or list of lists or dict, default False

        * boolean. If True -> try parsing the index.
        * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
            a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
          'foo'

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled, pandas will attempt to infer the format
        of the datetime strings in the columns, and if it can be inferred, switch
        to a faster method of parsing them. In some cases this can increase the
        parsing speed by ~5-10x.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call date_parser in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by parse_dates into a single array
        and pass that; and 3) call date_parser once for each row using one or more
        strings (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration. `See IO Tools docs for more
        information
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_ on
        ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip,
        bz2, zip or xz if filepath_or_buffer is a string ending in '.gz', '.bz2',
        '.zip', or 'xz', respectively, and no decompression otherwise. If using
        'zip', the ZIP file must contain only one data file to be read in.
        Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, default None
        Thousands separator
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    float_precision : string, default None
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.
    lineterminator : str (length 1), default None
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : boolean, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
        with `header=0` will result in 'a,b,c' being
        treated as the header.
    encoding : str, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    dialect : str or csv.Dialect instance, default None
        If None defaults to Excel dialect. Ignored if sep longer than 1 char
        See csv.Dialect documentation for more details
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned. (Only valid with C parser)
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output. (Only valid with C parser).
    low_memory : boolean, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser)
    buffer_lines : int, default None
        DEPRECATED: this argument will be removed in a future version because its
        value is not respected by the parser
    compact_ints : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If compact_ints is True, then for any column that is of integer dtype,
        the parser will attempt to cast it as the smallest integer dtype possible,
        either signed or unsigned depending on the specification from the
        `use_unsigned` parameter.
    use_unsigned : boolean, default False
        DEPRECATED: this argument will be removed in a future version

        If integer columns are being compacted (i.e. `compact_ints=True`), specify
        whether the column should be compacted to the smallest signed or unsigned
        integer dtype.
    memory_map : boolean, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.

    Returns
    -------
    result : DataFrame or TextParser

In [3]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t', encoding='utf-8')
print(chipo)
type(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
13           7         1                           Chicken Bowl
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
19          10         1                           Chicken Bowl
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
26          13         1                           Chicken Bowl
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
...        ...       ...                                    ...
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4595      1826         1                           Chicken Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4599      1827         1                           Chicken Bowl
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
...                                                 ...        ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

pandas.core.frame.DataFrame

### 问题1. 被点最多的食物是哪个？
- 解题思路：<span style='color:white'>按照item_name groupby</span>

In [4]:
chipo.keys()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [5]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
print (chipo['item_name'].value_counts()[0])#value_counts默认情况下sort = True将每项总和正序排列所以取第一个就是最大的
print (chipo['item_name'].value_counts().max())#或者用max()函数也可以

726
726

### 问题2. 有记录的这段时间总收入是？
- 解题思路：<span style='color:white'>首先将item_price（单价）数据类型变成float，然后quantity（销量）和item_price两列相乘，再加和</span>

## "永远要记得，用pandas一定要尝试向量化的操作
当你想对一列做操作的时候，首先试试批量的处理，正则表达式并不是效率非常高的引擎，所以如果可以用string replace之类的字符串操作，尽量不要用正则"--寒老师

In [11]:
type(chipo['item_price'].values)
chipo['item_price'].values.shape
chipo['item_price']
#import re
chipo.loc[:,'item_price']=chipo['item_price'].apply(lambda x : x.replace('$',''))#string.replace去掉美元符号
chipo['item_price']
#print (chipo[0:6])
#print(chipo[['quantity','it']])
#print(chipo.loc[:,['item_price','quantity']])
#chipo.loc[:'income']=chipo['item_price']*chipo['quantity']
#print (chipo[['quantity']].apply(pd.to_numeric).dtypes)
#增加一列，通过quantity相乘item_price先计算每一行的总收入
chipo.loc[:,'income'] =(chipo['item_price'].apply(pd.to_numeric)*(chipo['quantity'].apply(pd.to_numeric)))
chipo[0:5]
chipo.groupby('item_name').sum()
#所有列的收入相加
chipo['income'].sum()
#'$2.39'.replace('$','')    
    #print (re.match(r'^((?!$).+)',i).group())
#chipo[['item_price']] = chipo[['item_price']].apply(pd.to_numeric)
#chipo['quantity'].values*float(chipo['item_price'].values)
#chipo.loc[:,'income']

39237.019999999997

In [32]:
def income(q , p):
    return q*p

#chipo['item_name','item_price']
chipo['quantity','item_price'].apply(income)

KeyError: ('quantity', 'item_price')

### 问题3. 有多少东西价格超过 $10.00?
- 解题思路：<span style='color:white'>按照 >10 这个条件筛选item_price，然后数item_name有多少unique values</span>

In [17]:
chipo[(chipo['item_price'].apply(pd.to_numeric))>10.00]['item_name'].value_counts().sum()

#变成float型进行比较获得布尔索引，先获得每项item的次数再计算总和即为此表超过10$的东西

1130

### 问题4. 顾客点多于一罐Canned Soda的次数是？
- 解题思路：<span style='color:white'>按照两个条件筛选，1）item_name是Canned Soda；2）quantity大于1</span>

In [21]:
print(chipo[chipo['item_name']=='Canned Soda'][chipo['quantity']>1])
#布尔索引
chipo[chipo['item_name']=='Canned Soda'][chipo['quantity']>1]['quantity'].sum()
#先选出合要求的quantity再计算总和。

      order_id  quantity    item_name choice_description item_price  income
18           9         2  Canned Soda           [Sprite]      2.18     4.36
51          23         2  Canned Soda     [Mountain Dew]      2.18     4.36
162         73         2  Canned Soda        [Diet Coke]      2.18     4.36
171         76         2  Canned Soda  [Diet Dr. Pepper]      2.18     4.36
350        150         2  Canned Soda        [Diet Coke]      2.18     4.36
352        151         2  Canned Soda        [Coca Cola]      2.18     4.36
698        287         2  Canned Soda        [Coca Cola]      2.18     4.36
700        288         2  Canned Soda        [Coca Cola]      2.18     4.36
909        376         2  Canned Soda     [Mountain Dew]      2.18     4.36
1091       450         2  Canned Soda       [Dr. Pepper]      2.18     4.36
1092       450         2  Canned Soda        [Coca Cola]      2.18     4.36
1944       787         2  Canned Soda       [Dr. Pepper]      2.18     4.36
2135       859         2  Canned Soda        [Diet Coke]      2.18     4.36
2235       901         4  Canned Soda           [Sprite]      4.36    17.44
2905      1156         2  Canned Soda        [Coca Cola]      2.18     4.36
2906      1156         2  Canned Soda           [Sprite]      2.18     4.36
3152      1258         2  Canned Soda       [Dr. Pepper]      2.18     4.36
3364      1349         2  Canned Soda        [Coca Cola]      2.18     4.36
3592      1440         2  Canned Soda        [Diet Coke]      2.18     4.36
3866      1550         2  Canned Soda     [Mountain Dew]      2.18     4.36

/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.5/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

42

## 回答问题5 ~ 6请从[这个地址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user)导入数据，给该数据分配一个变量users
- 提醒：和上题一样，在回答问题前记得查看数据，了解每列意义，检查数据类型

In [22]:
import pandas as pd
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user' , sep ='|')
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
5          6   42      M      executive    98101
6          7   57      M  administrator    91344
7          8   36      M  administrator    05201
8          9   29      M        student    01002
9         10   53      M         lawyer    90703
10        11   39      F          other    30329
11        12   28      F          other    06405
12        13   47      M       educator    29206
13        14   45      M      scientist    55106
14        15   49      F       educator    97301
15        16   21      M  entertainment    10309
16        17   30      M     programmer    06355
17        18   35      F          other    37212
18        19   40      M      librarian    02138
19        20   42      F      homemaker    95660
20        21   26      M         writer    30068
21        22   25      M         writer    40206
22        23   30      F         artist    48197
23        24   21      F         artist    94533
24        25   39      M       engineer    55107
25        26   49      M       engineer    21044
26        27   40      F      librarian    30030
27        28   32      M         writer    55369
28        29   41      M     programmer    94043
29        30    7      M        student    55436
..       ...  ...    ...            ...      ...
913      914   44      F          other    08105
914      915   50      M  entertainment    60614
915      916   27      M       engineer    N2L5N
916      917   22      F        student    20006
917      918   40      M      scientist    70116
918      919   25      M          other    14216
919      920   30      F         artist    90008
920      921   20      F        student    98801
921      922   29      F  administrator    21114
922      923   21      M        student    E2E3R
923      924   29      M          other    11753
924      925   18      F       salesman    49036
925      926   49      M  entertainment    01701
926      927   23      M     programmer    55428
927      928   21      M        student    55408
928      929   44      M      scientist    53711
929      930   28      F      scientist    07310
930      931   60      M       educator    33556
931      932   58      M       educator    06437
932      933   28      M        student    48105
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### 问题5.  每个职业男性和女性的平均年龄分别是？
- 解题思路：<span style='color:white'>按照occupation和gender groupby</span>

In [8]:
users.keys()

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [11]:
users.groupby('gender')['age'].describe()

gender
F       count    273.000000
        mean      33.813187
        std       11.799095
        min       13.000000
        25%       25.000000
        50%       32.000000
        75%       44.000000
        max       70.000000
M       count    670.000000
        mean      34.149254
        std       12.356868
        min        7.000000
        25%       25.000000
        50%       31.000000
        75%       42.000000
        max       73.000000
Name: age, dtype: float64

In [16]:
#两种方法
users.groupby('gender')['age'].mean()

gender
F    33.813187
M    34.149254
Name: age, dtype: float64

In [15]:
print(users[users['gender']=='M']['age'].mean())#男性平均年龄
print(users[users['gender']=='F']['age'].mean())#女性平均年龄

34.1492537313
33.8131868132

### 问题6.  每个职业中男性的比例是？
- 解题思路：<span style='color:white'>按照occupation groupby；查看官方文档关于value_counts中normalize参数的说明</span>

In [25]:
#def MaleRatio(x):
#print(users['occupation'].value_counts())#每个职业总人数统计
#users[users['gender']=='M']['occupation'].value_counts()#每个职业总男性人数
(users[users['gender']=='M']['occupation'].value_counts())/(users['occupation'].value_counts())#每个职业中男性的比例

administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
Name: occupation, dtype: float64

## 回答问题7 ~ 8请从[这个地址](https://github.com/guipsamora/pandas_exercises/blob/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv)导入数据，给该数据分配一个变量df

In [99]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv', \
                 encoding='utf-8')#查看元数据使用逗号分隔，默认sep=','
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### 问题7. 请把Mjob和Fjob两列中数据都变成全部大写字母，查看df，如果df中这两列数据确实变成大写，说明操作成功
- 解题思路：<span style='color:white'>使用applymap</span>
- 注意：要修改**原dataframe**

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
school        395 non-null object
sex           395 non-null object
age           395 non-null int64
address       395 non-null object
famsize       395 non-null object
Pstatus       395 non-null object
Medu          395 non-null int64
Fedu          395 non-null int64
Mjob          395 non-null object
Fjob          395 non-null object
reason        395 non-null object
guardian      395 non-null object
traveltime    395 non-null int64
studytime     395 non-null int64
failures      395 non-null int64
schoolsup     395 non-null object
famsup        395 non-null object
paid          395 non-null object
activities    395 non-null object
nursery       395 non-null object
higher        395 non-null object
internet      395 non-null object
romantic      395 non-null object
famrel        395 non-null int64
freetime      395 non-null int64
goout         395 non-null int64
Dalc          395 non-null int64
Walc          395 non-null int64
health        395 non-null int64
absences      395 non-null int64
G1            395 non-null int64
G2            395 non-null int64
G3            395 non-null int64
dtypes: int64(16), object(17)
memory usage: 101.9+ KB

In [39]:
def Upper(x):
    return x.upper()
df['Mjob'] = df['Mjob'].apply(Upper)
df['Fjob'] = df['Fjob'].apply(Upper)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,SERVICES,OTHER,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,OTHER,TEACHER,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,SERVICES,OTHER,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,OTHER,OTHER,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,TEACHER,HEALTH,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,SERVICES,OTHER,...,5,2,2,1,1,4,4,10,12,12
12,GP,M,15,U,LE3,T,4,4,HEALTH,SERVICES,...,4,3,3,1,3,5,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,...,5,4,3,1,2,3,2,10,10,11
14,GP,M,15,U,GT3,A,2,2,OTHER,OTHER,...,4,5,2,1,1,3,0,14,16,16
15,GP,F,16,U,GT3,T,4,4,HEALTH,OTHER,...,4,4,4,1,2,2,4,14,14,14
16,GP,F,16,U,GT3,T,4,4,SERVICES,SERVICES,...,3,2,3,1,2,2,6,13,14,14
17,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,5,3,2,1,1,4,4,8,10,10
18,GP,M,17,U,GT3,T,3,2,SERVICES,SERVICES,...,5,5,5,2,4,5,16,6,5,5
19,GP,M,16,U,LE3,T,4,3,HEALTH,OTHER,...,3,1,3,1,3,5,4,8,10,10
20,GP,M,15,U,GT3,T,4,3,TEACHER,OTHER,...,4,4,1,1,1,1,0,13,14,15
21,GP,M,15,U,GT3,T,4,4,HEALTH,HEALTH,...,5,4,2,1,1,5,0,12,15,15
22,GP,M,16,U,LE3,T,4,2,TEACHER,OTHER,...,4,5,1,1,3,5,2,15,15,16
23,GP,M,16,U,LE3,T,2,2,OTHER,OTHER,...,5,4,4,2,4,5,0,13,13,12
24,GP,F,15,R,GT3,T,2,4,SERVICES,HEALTH,...,4,3,2,1,1,5,2,10,9,8
25,GP,F,16,U,GT3,T,2,2,SERVICES,SERVICES,...,1,2,2,1,3,5,14,6,9,8
26,GP,M,15,U,GT3,T,2,2,OTHER,OTHER,...,4,2,2,1,2,5,2,12,12,11
27,GP,M,15,U,GT3,T,4,2,HEALTH,SERVICES,...,2,2,4,2,4,1,4,15,16,15
28,GP,M,16,U,LE3,A,3,4,SERVICES,OTHER,...,5,3,3,1,1,5,4,11,11,11
29,GP,M,16,U,GT3,T,4,4,TEACHER,TEACHER,...,4,4,5,5,5,5,16,10,12,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,AT_HOME,OTHER,...,3,3,4,2,4,3,4,10,10,10
366,MS,M,18,U,LE3,T,4,4,TEACHER,SERVICES,...,4,2,2,2,2,5,0,13,13,13
367,MS,F,17,R,GT3,T,1,1,OTHER,SERVICES,...,5,2,1,1,2,1,0,7,6,0
368,MS,F,18,U,GT3,T,2,3,AT_HOME,SERVICES,...,5,2,3,1,2,4,0,11,10,10
369,MS,F,18,R,GT3,T,4,4,OTHER,TEACHER,...,3,2,2,4,2,5,10,14,12,11
370,MS,F,19,U,LE3,T,3,2,SERVICES,SERVICES,...,3,2,2,1,1,3,4,7,7,9
371,MS,M,18,R,LE3,T,1,2,AT_HOME,SERVICES,...,4,3,3,2,3,3,3,14,12,12
372,MS,F,17,U,GT3,T,2,2,OTHER,AT_HOME,...,3,4,3,1,1,3,8,13,11,11
373,MS,F,17,R,GT3,T,1,2,OTHER,OTHER,...,3,5,5,1,3,1,14,6,5,5
374,MS,F,18,R,LE3,T,4,4,OTHER,OTHER,...,5,4,4,1,1,1,0,19,18,19
375,MS,F,18,R,GT3,T,1,1,OTHER,OTHER,...,4,3,2,1,2,4,2,8,8,10
376,MS,F,20,U,GT3,T,4,2,HEALTH,OTHER,...,5,4,3,1,1,3,4,15,14,15
377,MS,F,18,R,LE3,T,4,4,TEACHER,SERVICES,...,5,4,3,3,4,2,4,8,9,10
378,MS,F,18,U,GT3,T,3,3,OTHER,OTHER,...,4,1,3,1,2,1,0,15,15,15
379,MS,F,17,R,GT3,T,3,1,AT_HOME,OTHER,...,4,5,4,2,3,1,17,10,10,10
380,MS,M,18,U,GT3,T,4,4,TEACHER,TEACHER,...,3,2,4,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,OTHER,OTHER,...,4,4,3,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,OTHER,SERVICES,...,4,4,3,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,OTHER,SERVICES,...,4,3,2,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,OTHER,OTHER,...,5,4,3,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,AT_HOME,OTHER,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,TEACHER,AT_HOME,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,SERVICES,OTHER,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,TEACHER,SERVICES,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,OTHER,OTHER,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,...,3,2,3,3,3,5,5,8,9,9

### 问题8. 把df中所有数值都乘以10
- 解题思路：<span style='color:white'>按照df.dtypes进行筛选 </span>

In [29]:
help(pd.DataFrame.dtypes)

Help on property:

    Return the dtypes in this object.

In [48]:
#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.select_dtypes.html
df.select_dtypes(include=['int64'])*10

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,180,40,40,20,20,0,40,30,40,10,10,30,60,50,60,60
1,170,10,10,10,20,0,50,30,30,10,10,30,40,50,50,60
2,150,10,10,10,20,30,40,30,20,20,30,30,100,70,80,100
3,150,40,20,10,30,0,30,20,20,10,10,50,20,150,140,150
4,160,30,30,10,20,0,40,30,20,10,20,50,40,60,100,100
5,160,40,30,10,20,0,50,40,20,10,20,50,100,150,150,150
6,160,20,20,10,20,0,40,40,40,10,10,30,0,120,120,110
7,170,40,40,20,20,0,40,10,40,10,10,10,60,60,50,60
8,150,30,20,10,20,0,40,20,20,10,10,10,0,160,180,190
9,150,30,40,10,20,0,50,50,10,10,10,50,0,140,150,150
10,150,40,40,10,20,0,30,30,30,10,20,20,0,100,80,90
11,150,20,10,30,30,0,50,20,20,10,10,40,40,100,120,120
12,150,40,40,10,10,0,40,30,30,10,30,50,20,140,140,140
13,150,40,30,20,20,0,50,40,30,10,20,30,20,100,100,110
14,150,20,20,10,30,0,40,50,20,10,10,30,0,140,160,160
15,160,40,40,10,10,0,40,40,40,10,20,20,40,140,140,140
16,160,40,40,10,30,0,30,20,30,10,20,20,60,130,140,140
17,160,30,30,30,20,0,50,30,20,10,10,40,40,80,100,100
18,170,30,20,10,10,30,50,50,50,20,40,50,160,60,50,50
19,160,40,30,10,10,0,30,10,30,10,30,50,40,80,100,100
20,150,40,30,10,20,0,40,40,10,10,10,10,0,130,140,150
21,150,40,40,10,10,0,50,40,20,10,10,50,0,120,150,150
22,160,40,20,10,20,0,40,50,10,10,30,50,20,150,150,160
23,160,20,20,20,20,0,50,40,40,20,40,50,0,130,130,120
24,150,20,40,10,30,0,40,30,20,10,10,50,20,100,90,80
25,160,20,20,10,10,20,10,20,20,10,30,50,140,60,90,80
26,150,20,20,10,10,0,40,20,20,10,20,50,20,120,120,110
27,150,40,20,10,10,0,20,20,40,20,40,10,40,150,160,150
28,160,30,40,10,20,0,50,30,30,10,10,50,40,110,110,110
29,160,40,40,10,20,0,40,40,50,50,50,50,160,100,120,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,180,10,30,20,20,0,30,30,40,20,40,30,40,100,100,100
366,180,40,40,20,30,0,40,20,20,20,20,50,0,130,130,130
367,170,10,10,30,10,10,50,20,10,10,20,10,0,70,60,0
368,180,20,30,20,10,0,50,20,30,10,20,40,0,110,100,100
369,180,40,40,30,20,0,30,20,20,40,20,50,100,140,120,110
370,190,30,20,20,20,20,30,20,20,10,10,30,40,70,70,90
371,180,10,20,30,10,0,40,30,30,20,30,30,30,140,120,120
372,170,20,20,10,30,0,30,40,30,10,10,30,80,130,110,110
373,170,10,20,10,10,0,30,50,50,10,30,10,140,60,50,50
374,180,40,40,20,30,0,50,40,40,10,10,10,0,190,180,190
375,180,10,10,40,30,0,40,30,20,10,20,40,20,80,80,100
376,200,40,20,20,30,20,50,40,30,10,10,30,40,150,140,150
377,180,40,40,10,20,0,50,40,30,30,40,20,40,80,90,100
378,180,30,30,10,20,0,40,10,30,10,20,10,0,150,150,150
379,170,30,10,10,20,0,40,50,40,20,30,10,170,100,100,100
380,180,40,40,10,20,0,30,20,40,10,40,20,40,150,140,140
381,180,20,10,20,10,0,40,40,30,10,30,50,50,70,60,70
382,170,20,30,20,20,0,40,40,30,10,10,30,20,110,110,100
383,190,10,10,20,10,10,40,30,20,10,30,50,0,60,50,0
384,180,40,20,20,10,10,50,40,30,40,30,30,140,60,50,50
385,180,20,20,20,30,0,50,30,30,10,30,40,20,100,90,100
386,180,40,40,30,10,0,40,40,30,20,20,50,70,60,50,60
387,190,20,30,10,30,10,50,40,20,10,20,50,0,70,50,0
388,180,30,10,10,20,0,40,30,40,10,10,10,0,70,90,80
389,180,10,10,20,20,10,10,10,10,10,10,50,0,60,50,0
390,200,20,20,10,20,20,50,50,40,40,50,40,110,90,90,90
391,170,30,10,20,10,0,20,40,50,30,40,20,30,140,160,160
392,210,10,10,10,10,30,50,50,30,30,30,30,30,100,80,70
393,180,30,20,30,10,0,40,40,10,30,40,50,0,110,120,100
394,190,10,10,10,10,0,30,20,30,30,30,50,50,80,90,90

## 回答问题9 ~ 13请从本地载入'wind.data'，给该数据分配一个变量
- 说明：前三列 Yr Mo Dy是年、月、日；后12列是12个地点该日平均风速
- 提醒：本数据需要对日期型进行操作
    - 请注意导入必要的库
    - Datetime[官方文档](https://pandas.pydata.org/pandas-docs/stable/timeseries.html)

In [49]:
import pandas as pd
winda = pd.read_csv('./wind.data',sep = '\s+')
#原始数据有两个空格，但后面的数据中只有一个空格，所以这里必须使用正则表达式\s+，单纯使用一个空格分不出来
winda['Yr']= winda['Yr']+1900
winda

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,1961,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,1961,1,7,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,1961,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,1961,1,9,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,1961,1,10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
10,1961,1,11,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
11,1961,1,12,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
12,1961,1,13,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
13,1961,1,14,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
14,1961,1,15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
15,1961,1,16,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
16,1961,1,17,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
17,1961,1,18,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
18,1961,1,19,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
19,1961,1,20,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
20,1961,1,21,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
21,1961,1,22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
22,1961,1,23,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
23,1961,1,24,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
24,1961,1,25,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
25,1961,1,26,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
26,1961,1,27,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
27,1961,1,28,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
28,1961,1,29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
29,1961,1,30,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,1978,12,2,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
6545,1978,12,3,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
6546,1978,12,4,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
6547,1978,12,5,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
6548,1978,12,6,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
6549,1978,12,7,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
6550,1978,12,8,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
6551,1978,12,9,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
6552,1978,12,10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
6553,1978,12,11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
6554,1978,12,12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
6555,1978,12,13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
6556,1978,12,14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
6557,1978,12,15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
6558,1978,12,16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
6559,1978,12,17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
6560,1978,12,18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
6561,1978,12,19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
6562,1978,12,20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
6563,1978,12,21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
6564,1978,12,22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
6565,1978,12,23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
6566,1978,12,24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
6567,1978,12,25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
6568,1978,12,26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
6569,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### 问题9. data中2061年有误，应为1961年。请改正。
- 解题思路：<span style='color:white'>写一个lambda函数修改年份，新增一列日期 </span>

In [47]:
winda.keys()

Index(['Yr', 'Mo', 'Dy', 'Unnamed: 3', 'Unnamed: 4', 'RPT', 'Unnamed: 6',
       'Unnamed: 7', 'VAL', 'Unnamed: 9', 'Unnamed: 10', 'ROS', 'Unnamed: 12',
       'Unnamed: 13', 'KIL', 'Unnamed: 15', 'Unnamed: 16', 'SHA',
       'Unnamed: 18', 'Unnamed: 19', 'BIR', 'Unnamed: 21', 'Unnamed: 22',
       'DUB', 'Unnamed: 24', 'Unnamed: 25', 'CLA', 'Unnamed: 27',
       'Unnamed: 28', 'MUL', 'Unnamed: 30', 'Unnamed: 31', 'CLO',
       'Unnamed: 33', 'Unnamed: 34', 'BEL', 'Unnamed: 36', 'Unnamed: 37',
       'MAL'],
      dtype='object')

In [3]:
winda[winda['Yr']==61]['Yr'].value_counts()#获取一共有多少个‘61’
winda.loc[0:364,'Yr']=1961#重新赋值,pandas左闭右闭
winda.loc[0:364,'Yr']

0      1961
1      1961
2      1961
3      1961
4      1961
5      1961
6      1961
7      1961
8      1961
9      1961
10     1961
11     1961
12     1961
13     1961
14     1961
15     1961
16     1961
17     1961
18     1961
19     1961
20     1961
21     1961
22     1961
23     1961
24     1961
25     1961
26     1961
27     1961
28     1961
29     1961
       ...
335    1961
336    1961
337    1961
338    1961
339    1961
340    1961
341    1961
342    1961
343    1961
344    1961
345    1961
346    1961
347    1961
348    1961
349    1961
350    1961
351    1961
352    1961
353    1961
354    1961
355    1961
356    1961
357    1961
358    1961
359    1961
360    1961
361    1961
362    1961
363    1961
364    1961
Name: Yr, dtype: int64

### 问题10. 将正确的日期设为index。要求：index的dtype为datetime64[ns]
- 解题思路：<span style='color:white'>Dataframe.index</span>

In [12]:
help(pd.DataFrame.set_index)

Help on function set_index in module pandas.core.frame:

set_index(self, keys, drop=True, append=False, inplace=False, verify_integrity=False)
    Set the DataFrame index (row labels) using one or more existing
    columns. By default yields a new object.

    Parameters
    ----------
    keys : column label or list of column labels / arrays
    drop : boolean, default True
        Delete columns to be used as the new index
    append : boolean, default False
        Whether to append columns to existing index
    inplace : boolean, default False
        Modify the DataFrame in place (do not create a new object)
    verify_integrity : boolean, default False
        Check the new index for duplicates. Otherwise defer the check until
        necessary. Setting to False will improve the performance of this
        method

    Examples
    --------
    >>> indexed_df = df.set_index(['A', 'B'])
    >>> indexed_df2 = df.set_index(['A', [0, 1, 2, 0, 1, 2]])
    >>> indexed_df3 = df.set_index([[0, 1, 2, 0, 1, 2]])

    Returns
    -------
    dataframe : DataFrame

In [50]:
import pandas as pd
winda['Yr']= winda['Yr'].astype('str')
winda['Mo']= winda['Mo'].astype('str')
winda['Dy']= winda['Dy'].astype('str')
#winda.info()
#winda.dropna(axis = 0 , how = 'Yr')
#pd.concat([winda['Yr'].dr , 'Mo' , 'Dy'])
winda.loc[:,'date']=winda['Yr']+'-'+ winda['Mo']+'-'+winda['Dy']
winda['date'] = winda['date'].apply(pd.to_datetime)
#winda['date'].apply(lambda x: x.apply(pd.to_datetime) if 'nan' not in x)
winda[['Yr','Mo','Dy','date']]
#winda.info()
winda['date'].dtype
#winda[winda['date']]
#winda[['Yr','date']]
winda=winda.set_index('date')#或者用inplace = True
winda

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,,,,
1961-01-01,1961,1,1,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,1961,1,2,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,1961,1,3,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,1961,1,4,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,1961,1,5,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
1961-01-06,1961,1,6,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
1961-01-07,1961,1,7,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
1961-01-08,1961,1,8,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
1961-01-09,1961,1,9,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
1961-01-10,1961,1,10,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
1961-01-11,1961,1,11,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
1961-01-12,1961,1,12,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
1961-01-13,1961,1,13,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
1961-01-14,1961,1,14,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
1961-01-15,1961,1,15,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
1961-01-16,1961,1,16,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
1961-01-17,1961,1,17,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
1961-01-18,1961,1,18,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
1961-01-19,1961,1,19,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
1961-01-20,1961,1,20,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
1961-01-21,1961,1,21,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
1961-01-22,1961,1,22,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
1961-01-23,1961,1,23,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
1961-01-24,1961,1,24,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
1961-01-25,1961,1,25,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
1961-01-26,1961,1,26,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
1961-01-27,1961,1,27,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
1961-01-28,1961,1,28,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
1961-01-29,1961,1,29,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
1961-01-30,1961,1,30,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-02,1978,12,2,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
1978-12-03,1978,12,3,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
1978-12-04,1978,12,4,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
1978-12-05,1978,12,5,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
1978-12-06,1978,12,6,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
1978-12-07,1978,12,7,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
1978-12-08,1978,12,8,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
1978-12-09,1978,12,9,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
1978-12-10,1978,12,10,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
1978-12-11,1978,12,11,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
1978-12-12,1978,12,12,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
1978-12-13,1978,12,13,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
1978-12-14,1978,12,14,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
1978-12-15,1978,12,15,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
1978-12-16,1978,12,16,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
1978-12-17,1978,12,17,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
1978-12-18,1978,12,18,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
1978-12-19,1978,12,19,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
1978-12-20,1978,12,20,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
1978-12-21,1978,12,21,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
1978-12-22,1978,12,22,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
1978-12-23,1978,12,23,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
1978-12-24,1978,12,24,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
1978-12-25,1978,12,25,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
1978-12-26,1978,12,26,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
1978-12-27,1978,12,27,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
1978-12-28,1978,12,28,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
1978-12-29,1978,12,29,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
1978-12-30,1978,12,30,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
1978-12-31,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### 问题11. 请分别统计每个地点总共缺失了多少数据。
- 解题思路：<span style='color:white'>isnull </span>

In [51]:
winda.keys()#查看地名

Index(['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB',
       'CLA', 'MUL', 'CLO', 'BEL', 'MAL'],
      dtype='object')

In [52]:
winda.groupby(['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL'])\
.isnull().value_counts()

AttributeError: Cannot access callable attribute 'isnull' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [58]:
winda.groupby(['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL'])\
.apply(lambda x :pd.isnull(x)).sum()

Yr     0.0
Mo     0.0
Dy     0.0
RPT    0.0
VAL    0.0
ROS    0.0
KIL    0.0
SHA    0.0
BIR    0.0
DUB    0.0
CLA    0.0
MUL    0.0
CLO    0.0
BEL    0.0
MAL    0.0
dtype: float64

In [62]:
winda.loc[:,:].isnull().value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [63]:
#方法二
print (winda['RPT'].isnull().value_counts())
print (winda['VAL'].isnull().value_counts())
print (winda['ROS'].isnull().value_counts())
print (winda['BIR'].isnull().value_counts())
print (winda['DUB'].isnull().value_counts())
print (winda['CLA'].isnull().value_counts())
print (winda['MUL'].isnull().value_counts())
print (winda['CLO'].isnull().value_counts())
print (winda['BEL'].isnull().value_counts())
print (winda['MAL'].isnull().value_counts())

False    6568
True        6
Name: RPT, dtype: int64
False    6571
True        3
Name: VAL, dtype: int64
False    6572
True        2
Name: ROS, dtype: int64
False    6574
Name: BIR, dtype: int64
False    6571
True        3
Name: DUB, dtype: int64
False    6572
True        2
Name: CLA, dtype: int64
False    6571
True        3
Name: MUL, dtype: int64
False    6573
True        1
Name: CLO, dtype: int64
False    6574
Name: BEL, dtype: int64
False    6570
True        4
Name: MAL, dtype: int64

In [64]:
#方法一
def count(x):
    for i in x:
        print (i)
        print (winda[i].isnull().value_counts(),'\n')
#winda.info()
#winda['RPT'].apply(count)
'''winda['RPT'].isnull().value_counts()
import datetime
t1 = datetime.datetime.now()
x = [i for i in winda.keys() if('Unnamed' not in i)]#用列表推导式获取地点
t2 = datetime.datetime.now()
#print ('list comprehesion : ' ,t2-t1)
import re
t3 = datetime.datetime.now()
y = re.findall(r'\b\w\w\w\b' ,str(winda.keys()))#用正则表达式获取地点
t4 = datetime.datetime.now()
print (y)'''
#print(t4-t3)
#对比发现列表要快一些
print (count(['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL']))

RPT
False    6568
True        6
Name: RPT, dtype: int64

VAL
False    6571
True        3
Name: VAL, dtype: int64

ROS
False    6572
True        2
Name: ROS, dtype: int64

KIL
False    6569
True        5
Name: KIL, dtype: int64

SHA
False    6572
True        2
Name: SHA, dtype: int64

BIR
False    6574
Name: BIR, dtype: int64

DUB
False    6571
True        3
Name: DUB, dtype: int64

CLA
False    6572
True        2
Name: CLA, dtype: int64

MUL
False    6571
True        3
Name: MUL, dtype: int64

CLO
False    6573
True        1
Name: CLO, dtype: int64

BEL
False    6574
Name: BEL, dtype: int64

MAL
False    6570
True        4
Name: MAL, dtype: int64

None

### 问题12. 请创建两个dataframe，一个统计每个地点所有日期风速的最小值、最大值、均值、标准差；第二个统计每日所有地点的风速的最小值、最大值、均值、标准差。
- 解题思路：<span style='color:white'>agg(['min', 'max', 'mean', 'std']) </span>

In [22]:
a=winda['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL'].groupby('date').mean()
a

KeyError: ('RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB', 'CLA', 'MUL', 'CLO', 'BEL', 'MAL')

In [65]:
winda.keys()

Index(['Yr', 'Mo', 'Dy', 'RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB',
       'CLA', 'MUL', 'CLO', 'BEL', 'MAL'],
      dtype='object')

In [69]:
#一个统计每个地点所有日期风速的最小值、最大值、均值、标准差dataframe
#everyPlace = winda[['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL']]
#copy请用loc！！！
everyPlace = winda.loc[:,('RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL')]

#everyPlace[['RPT']].apply([np.min,np.max,np.mean,np.std])
import numpy as np
everyPlace.loc['mean' , :] = everyPlace.apply(np.mean)#均值
everyPlace.loc['min' , :] = everyPlace.apply(np.min)#最小值
everyPlace.loc['max' , :] = everyPlace.apply(np.max)#最大值
everyPlace.loc['std' , :] = everyPlace.apply(np.std)#标准差


everyPlace.tail()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
date,,,,,,,,,,,,
1978-12-31 00:00:00,20.330000,17.410000,27.290000,9.590000,12.080000,10.130000,19.250000,11.630000,11.580000,11.380000,12.080000,22.080000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000
std,5.625988,5.274778,5.015957,3.615893,4.947553,3.975398,4.983970,4.507913,4.172435,4.510269,5.846603,6.708520

In [55]:
help(pd.core.groupby.DataFrameGroupBy.agg)

Help on function aggregate in module pandas.core.groupby:

aggregate(self, arg, *args, **kwargs)
    Aggregate using input function or dict of {column ->
    function}

    Parameters
    ----------
    arg : function or dict
        Function to use for aggregating groups. If a function, must either
        work when passed a DataFrame or when passed to DataFrame.apply. If
        passed a dict, the keys must be DataFrame column names.

        Accepted Combinations are:
          - string cythonized function name
          - function
          - list of functions
          - dict of columns -> functions
          - nested dict of names -> dicts of functions

    Notes
    -----
    Numpy functions mean/median/prod/sum/std/var are special cased so the
    default behavior is applying the function along axis=0
    (e.g., np.mean(arr_2d, axis=0)) as opposed to
    mimicking the default Numpy behavior (e.g., np.mean(arr_2d)).

    Returns
    -------
    aggregated : DataFrame

    See also
    --------
    pandas.Series.groupby
    pandas.DataFrame.groupby

### 问题12. 请创建两个dataframe，一个统计每个地点所有日期风速的最小值、最大值、均值、标准差；第二个统计每日所有地点的风速的最小值、最大值、均值、标准差。
- 解题思路：<span style='color:white'>agg(['min', 'max', 'mean', 'std']) </span>

In [72]:
#统计每日所有地点的风速的最小值、最大值、均值、标准差dataframe

everyDay = winda.loc[:,['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL']]
import numpy as np
everyDay.dropna(how='any',inplace = True)

everyDay.loc[:,'mean'] = everyDay.mean(axis=1)#均值 axis=1进行行计算
everyDay.loc[:,'min'] = everyDay.min(axis=1)#最小值
everyDay.loc[:,'max'] = everyDay.max(axis=1)#最大值
everyDay.loc[:,'std'] = everyDay.std(axis=1)#标准差
#everyDay[['RPT']].agg(['mean','min','max','std'])
everyDay

#type(winda.groupby('date')[['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL']])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,mean,min,max,std
date,,,,,,,,,,,,,,,,
1961-01-04 00:00:00,10.580000,6.630000,11.750000,4.580000,4.540000,2.880000,8.630000,1.790000,5.83000,5.880000,5.460000,10.880000,6.619167,1.790000,11.750000,3.403237
1961-01-05 00:00:00,13.330000,13.250000,11.420000,6.170000,10.710000,8.210000,11.920000,6.540000,10.92000,10.340000,12.920000,11.830000,10.630000,6.170000,13.330000,2.573942
1961-01-06 00:00:00,13.210000,8.120000,9.960000,6.670000,5.370000,4.500000,10.670000,4.420000,7.17000,7.500000,8.120000,13.170000,8.240000,4.420000,13.210000,3.140488
1961-01-07 00:00:00,13.500000,14.290000,9.500000,4.960000,12.290000,8.330000,9.170000,9.290000,7.58000,7.960000,13.960000,13.790000,10.385000,4.960000,14.290000,3.255131
1961-01-08 00:00:00,10.960000,9.750000,7.620000,5.910000,9.620000,7.290000,14.290000,7.620000,9.25000,10.460000,16.620000,16.460000,10.487500,5.910000,16.620000,3.749397
1961-01-09 00:00:00,12.580000,10.830000,10.000000,4.750000,10.370000,6.790000,8.040000,10.130000,7.79000,9.080000,13.040000,15.370000,9.897500,4.750000,15.370000,3.265930
1961-01-10 00:00:00,13.370000,11.120000,19.500000,8.330000,9.710000,6.540000,11.420000,7.790000,8.54000,9.000000,8.580000,11.830000,10.477500,6.540000,19.500000,4.013841
1961-01-11 00:00:00,10.580000,9.870000,8.420000,2.790000,8.710000,7.250000,7.540000,8.330000,5.71000,8.670000,20.710000,16.920000,9.625000,2.790000,20.710000,5.492639
1961-01-12 00:00:00,19.750000,12.080000,18.500000,10.540000,10.290000,9.460000,15.540000,11.500000,10.37000,14.580000,15.590000,14.090000,13.524167,9.460000,19.750000,3.588346
1961-01-13 00:00:00,9.920000,3.540000,8.460000,2.960000,2.290000,0.960000,4.630000,0.580000,2.33000,3.370000,5.250000,7.040000,4.277500,0.580000,9.920000,3.148845
1961-01-14 00:00:00,9.040000,5.660000,7.080000,0.670000,2.710000,1.380000,3.080000,2.580000,0.50000,2.670000,7.170000,5.170000,3.975833,0.500000,9.040000,2.965426
1961-01-15 00:00:00,12.040000,9.670000,11.750000,2.370000,7.380000,3.130000,2.500000,6.830000,4.75000,5.630000,7.540000,6.750000,6.695000,2.370000,12.040000,3.436283
1961-01-16 00:00:00,16.420000,11.250000,15.670000,4.710000,11.340000,6.920000,9.250000,8.790000,8.21000,7.330000,13.040000,9.040000,10.164167,4.710000,16.420000,3.828780
1961-01-17 00:00:00,17.750000,14.370000,17.330000,10.130000,13.960000,13.370000,13.420000,11.040000,8.71000,11.380000,15.920000,16.080000,13.621667,8.710000,17.750000,3.070971
1961-01-19 00:00:00,4.920000,3.420000,7.290000,1.040000,3.670000,3.170000,3.710000,2.790000,1.92000,2.710000,6.870000,7.830000,4.111667,1.040000,7.830000,2.316007
1961-01-20 00:00:00,9.590000,11.830000,7.960000,1.580000,7.920000,5.000000,3.170000,4.920000,3.13000,3.370000,6.500000,6.790000,5.980000,1.580000,11.830000,3.312122
1961-01-21 00:00:00,14.330000,10.250000,11.920000,6.130000,10.040000,7.670000,8.040000,9.170000,7.04000,7.870000,6.750000,12.420000,9.302500,6.130000,14.330000,2.757148
1961-01-22 00:00:00,9.590000,5.880000,9.920000,2.170000,6.870000,5.500000,9.380000,7.040000,6.34000,7.500000,10.880000,9.920000,7.582500,2.170000,10.880000,2.775092
1961-01-23 00:00:00,16.540000,9.960000,18.540000,10.460000,13.500000,12.670000,13.700000,13.750000,10.75000,13.170000,14.790000,20.580000,14.034167,9.960000,20.580000,3.508003
1961-01-24 00:00:00,25.040000,14.830000,25.840000,15.670000,21.460000,18.580000,20.380000,19.380000,15.37000,15.120000,23.090000,25.250000,20.000833,14.830000,25.840000,4.249599
1961-01-25 00:00:00,13.620000,11.170000,12.670000,6.040000,10.000000,9.420000,9.250000,8.710000,7.12000,12.040000,14.040000,17.500000,10.965000,6.040000,17.500000,3.590551
1961-01-26 00:00:00,24.370000,18.790000,17.500000,14.250000,18.910000,15.670000,14.330000,15.160000,16.08000,19.080000,20.500000,25.250000,18.324167,14.250000,25.250000,3.870522
1961-01-27 00:00:00,22.040000,20.790000,17.410000,16.210000,19.040000,16.130000,16.790000,18.290000,18.66000,19.080000,26.080000,27.630000,19.845833,16.130000,27.630000,4.016234
1961-01-28 00:00:00,17.670000,13.540000,13.330000,8.870000,15.040000,11.630000,12.250000,10.580000,11.92000,11.040000,20.300000,18.120000,13.690833,8.870000,20.300000,3.753260
1961-01-30 00:00:00,12.210000,11.420000,10.920000,7.920000,13.080000,9.620000,14.500000,10.210000,9.92000,11.960000,18.880000,19.250000,12.490833,7.920000,19.250000,3.799170
1961-01-31 00:00:00,24.210000,19.550000,16.710000,11.960000,14.420000,10.460000,14.880000,8.210000,10.50000,9.960000,12.420000,13.920000,13.933333,8.210000,24.210000,5.081929
1961-02-01 00:00:00,14.250000,15.120000,9.040000,5.880000,12.080000,7.170000,10.170000,3.630000,6.50000,5.500000,9.170000,8.000000,8.875833,3.630000,15.120000,3.813321
1961-02-02 00:00:00,20.170000,24.210000,10.000000,6.540000,17.370000,7.170000,10.880000,6.080000,9.08000,7.120000,12.080000,7.170000,11.489167,6.080000,24.210000,6.426344
1961-02-03 00:00:00,14.370000,11.710000,11.040000,5.090000,9.870000,5.830000,8.500000,5.130000,6.34000,7.380000,9.710000,8.830000,8.650000,5.090000,14.370000,3.111125
1961-02-04 00:00:00,10.580000,9.460000,10.920000,8.710000,12.460000,11.460000,12.540000,11.040000,13.04000,11.170000,16.500000,11.710000,11.632500,8.710000,16.500000,2.308992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03 00:00:00,21.210000,21.340000,17.750000,11.580000,16.750000,14.460000,17.460000,15.290000,15.79000,17.500000,21.420000,25.750000,18.025000,11.580000,25.750000,4.329783
1978-12-04 00:00:00,9.920000,13.500000,7.210000,1.710000,11.000000,7.500000,8.380000,7.460000,10.79000,10.210000,17.880000,17.960000,10.293333,1.710000,17.960000,5.089047
1978-12-05 00:00:00,22.750000,20.170000,18.580000,8.500000,15.960000,14.290000,13.920000,12.920000,12.96000,12.290000,17.080000,19.830000,15.770833,8.500000,22.750000,4.491064
1978-12-06 00:00:00,29.330000,23.870000,25.370000,16.040000,24.460000,19.500000,24.540000,18.580000,21.00000,20.580000,21.670000,34.460000,23.283333,16.040000,34.460000,5.666441
1978-12-07 00:00:00,26.630000,24.790000,24.790000,18.160000,23.130000,19.580000,19.920000,19.040000,19.75000,21.500000,23.040000,34.590000,22.910000,18.160000,34.590000,5.228495
1978-12-08 00:00:00,12.920000,12.540000,11.250000,3.370000,6.500000,5.960000,10.340000,6.170000,6.63000,6.750000,9.540000,17.330000,9.108333,3.370000,17.330000,4.393873
1978-12-09 00:00:00,18.710000,16.920000,15.500000,6.040000,10.370000,9.590000,10.750000,9.130000,9.75000,11.080000,14.330000,15.340000,12.292500,6.040000,18.710000,4.114517
1978-12-10 00:00:00,24.920000,22.540000,16.540000,14.620000,15.590000,13.000000,13.210000,14.120000,16.21000,16.170000,26.080000,21.920000,17.910000,13.000000,26.080000,4.841175
1978-12-11 00:00:00,20.250000,19.170000,17.830000,11.630000,17.790000,13.370000,14.830000,13.880000,15.54000,16.290000,18.340000,22.830000,16.812500,11.630000,22.830000,3.526045
1978-12-12 00:00:00,23.130000,18.630000,18.050000,8.290000,14.330000,11.040000,10.540000,10.130000,11.42000,10.500000,11.250000,13.500000,13.400833,8.290000,23.130000,4.865224
1978-12-13 00:00:00,18.840000,24.040000,14.370000,8.330000,18.120000,12.170000,13.000000,13.750000,14.17000,15.090000,21.500000,21.370000,16.229167,8.330000,24.040000,5.024639
1978-12-14 00:00:00,17.210000,19.750000,12.710000,5.830000,13.790000,7.330000,8.830000,5.710000,7.96000,3.370000,5.210000,6.920000,9.551667,3.370000,19.750000,5.557016
1978-12-15 00:00:00,13.130000,8.920000,16.540000,6.920000,6.000000,4.000000,12.670000,5.880000,7.67000,6.080000,5.500000,17.160000,9.205833,4.000000,17.160000,4.735376
1978-12-16 00:00:00,14.880000,9.130000,17.370000,5.210000,6.710000,2.460000,9.130000,4.960000,6.13000,5.960000,10.920000,18.080000,9.245000,2.460000,18.080000,5.412095
1978-12-17 00:00:00,9.870000,3.210000,8.040000,2.210000,3.040000,0.540000,2.460000,1.460000,1.29000,2.670000,5.000000,9.080000,4.072500,0.540000,9.870000,3.358645
1978-12-18 00:00:00,9.830000,10.880000,8.500000,1.000000,9.080000,6.000000,2.420000,8.250000,4.42000,5.880000,19.790000,19.790000,8.820000,1.000000,19.790000,6.354642
1978-12-19 00:00:00,13.880000,11.420000,10.130000,2.330000,8.120000,6.750000,4.750000,5.880000,6.21000,8.170000,8.330000,18.250000,8.685000,2.330000,18.250000,4.881104
1978-12-20 00:00:00,9.920000,3.630000,12.380000,3.080000,3.500000,0.420000,4.540000,2.500000,2.13000,4.710000,3.210000,10.290000,5.025833,0.420000,12.380000,4.037478
1978-12-21 00:00:00,12.960000,3.830000,13.790000,4.790000,7.120000,6.540000,11.670000,9.250000,8.67000,9.000000,11.250000,20.300000,9.930833,3.830000,20.300000,5.111928
1978-12-22 00:00:00,6.210000,7.380000,13.080000,2.540000,7.580000,5.330000,2.460000,8.380000,5.09000,5.040000,9.920000,11.000000,7.000833,2.460000,13.080000,3.512239
1978-12-23 00:00:00,16.620000,13.290000,22.210000,9.500000,14.290000,13.080000,16.500000,17.160000,12.71000,12.000000,18.500000,21.500000,15.613333,9.500000,22.210000,4.174685
1978-12-24 00:00:00,8.670000,5.630000,12.120000,4.790000,5.090000,5.910000,12.250000,9.250000,10.83000,11.710000,11.920000,31.710000,10.823333,4.790000,31.710000,8.566548
1978-12-25 00:00:00,7.210000,6.580000,7.830000,2.670000,4.790000,4.580000,8.710000,0.750000,5.21000,5.250000,1.210000,13.960000,5.729167,0.750000,13.960000,4.080190
1978-12-26 00:00:00,13.830000,11.870000,10.340000,2.370000,6.960000,4.290000,1.960000,3.790000,3.04000,3.080000,4.790000,11.960000,6.523333,1.960000,13.830000,4.452339
1978-12-27 00:00:00,17.580000,16.960000,17.620000,8.080000,13.210000,11.670000,14.460000,15.590000,14.04000,14.000000,17.210000,40.080000,16.708333,8.080000,40.080000,9.588552
1978-12-28 00:00:00,13.210000,5.460000,13.460000,5.000000,8.120000,9.420000,14.330000,16.250000,15.25000,18.050000,21.790000,41.460000,15.150000,5.000000,41.460000,11.371107
1978-12-29 00:00:00,14.000000,10.290000,14.420000,8.710000,9.710000,10.540000,19.170000,12.460000,14.50000,16.420000,18.880000,29.580000,14.890000,8.710000,29.580000,6.620926
1978-12-30 00:00:00,18.500000,14.040000,21.290000,9.130000,12.750000,9.710000,18.080000,12.870000,12.46000,12.120000,14.670000,28.790000,15.367500,9.130000,28.790000,6.286545
1978-12-31 00:00:00,20.330000,17.410000,27.290000,9.590000,12.080000,10.130000,19.250000,11.630000,11.58000,11.380000,12.080000,22.080000,15.402500,9.590000,27.290000,6.154782
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.49359,8.707332,13.121007,15.599079,10.227982,6.306468,15.599079,2.950313

In [ ]:
'''winda.groupby('date')[['RPT', 'VAL', 'ROS', 'KIL', 'SHA', 'BIR', 'DUB','CLA', 'MUL', 'CLO', 'BEL', 'MAL']]\
.agg(['min','max','mean','std'])'''

### 问题13. 将数据下采样，每地每年只保留一个样本数据
- 解题思路：<span style='color:white'>resample</span>

In [62]:
#http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
help(pd.DataFrame.resample)

Help on function resample in module pandas.core.generic:

resample(self, rule, how=None, axis=0, fill_method=None, closed=None, label=None, convention='start', kind=None, loffset=None, limit=None, base=0, on=None, level=None)
    Convenience method for frequency conversion and resampling of time
    series.  Object must have a datetime-like index (DatetimeIndex,
    PeriodIndex, or TimedeltaIndex), or pass datetime-like values
    to the on or level keyword.

    Parameters
    ----------
    rule : string
        the offset string or object representing target conversion
    axis : int, optional, default 0
    closed : {'right', 'left'}
        Which side of bin interval is closed
    label : {'right', 'left'}
        Which bin edge label to label bucket with
    convention : {'start', 'end', 's', 'e'}
    loffset : timedelta
        Adjust the resampled time labels
    base : int, default 0
        For frequencies that evenly subdivide 1 day, the "origin" of the
        aggregated intervals. For example, for '5min' frequency, base could
        range from 0 through 4. Defaults to 0
    on : string, optional
        For a DataFrame, column to use instead of index for resampling.
        Column must be datetime-like.

        .. versionadded:: 0.19.0

    level : string or int, optional
        For a MultiIndex, level (name or number) to use for
        resampling.  Level must be datetime-like.

        .. versionadded:: 0.19.0

    To learn more about the offset strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Examples
    --------

    Start by creating a series with 9 one minute timestamps.

    >>> index = pd.date_range('1/1/2000', periods=9, freq='T')
    >>> series = pd.Series(range(9), index=index)
    >>> series
    2000-01-01 00:00:00    0
    2000-01-01 00:01:00    1
    2000-01-01 00:02:00    2
    2000-01-01 00:03:00    3
    2000-01-01 00:04:00    4
    2000-01-01 00:05:00    5
    2000-01-01 00:06:00    6
    2000-01-01 00:07:00    7
    2000-01-01 00:08:00    8
    Freq: T, dtype: int64

    Downsample the series into 3 minute bins and sum the values
    of the timestamps falling into a bin.

    >>> series.resample('3T').sum()
    2000-01-01 00:00:00     3
    2000-01-01 00:03:00    12
    2000-01-01 00:06:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but label each
    bin using the right edge instead of the left. Please note that the
    value in the bucket used as the label is not included in the bucket,
    which it labels. For example, in the original series the
    bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
    value in the resampled bucket with the label``2000-01-01 00:03:00``
    does not include 3 (if it did, the summed value would be 6, not 3).
    To include this value close the right side of the bin interval as
    illustrated in the example below this one.

    >>> series.resample('3T', label='right').sum()
    2000-01-01 00:03:00     3
    2000-01-01 00:06:00    12
    2000-01-01 00:09:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but close the right
    side of the bin interval.

    >>> series.resample('3T', label='right', closed='right').sum()
    2000-01-01 00:00:00     0
    2000-01-01 00:03:00     6
    2000-01-01 00:06:00    15
    2000-01-01 00:09:00    15
    Freq: 3T, dtype: int64

    Upsample the series into 30 second bins.

    >>> series.resample('30S').asfreq()[0:5] #select first 5 rows
    2000-01-01 00:00:00     0
    2000-01-01 00:00:30   NaN
    2000-01-01 00:01:00     1
    2000-01-01 00:01:30   NaN
    2000-01-01 00:02:00     2
    Freq: 30S, dtype: float64

    Upsample the series into 30 second bins and fill the ``NaN``
    values using the ``pad`` method.

    >>> series.resample('30S').pad()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    0
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    1
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Upsample the series into 30 second bins and fill the
    ``NaN`` values using the ``bfill`` method.

    >>> series.resample('30S').bfill()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    1
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    2
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Pass a custom function via ``apply``

    >>> def custom_resampler(array_like):
    ...     return np.sum(array_like)+5

    >>> series.resample('3T').apply(custom_resampler)
    2000-01-01 00:00:00     8
    2000-01-01 00:03:00    17
    2000-01-01 00:06:00    26
    Freq: 3T, dtype: int64

In [64]:
winda.resample('A').last()

,Yr,Mo,Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL,mean,min,max,std
date,,,,,,,,,,,,,,,,,,,
1961-12-31,1961,12,31,9.87,7.83,7.67,3.75,5.66,3.50,10.04,3.08,5.04,3.79,8.04,14.67,6.911667,3.08,14.67,3.839632
1962-12-31,1962,12,31,22.67,16.88,28.67,14.12,19.75,17.08,27.79,25.21,19.83,17.79,25.46,37.63,22.740000,14.12,37.63,7.425197
1963-12-31,1963,12,31,13.88,14.42,12.12,9.25,14.33,10.67,18.29,11.96,12.04,15.37,16.79,14.09,13.600833,9.25,18.29,2.835493
1964-12-31,1964,12,31,16.33,19.25,13.37,10.08,17.04,12.54,19.83,13.79,12.67,15.04,21.37,23.58,16.240833,10.08,23.58,4.428603
1965-12-31,1965,12,31,13.62,13.88,12.29,6.08,12.33,7.41,9.59,10.21,7.46,12.17,15.71,16.75,11.458333,6.08,16.75,3.604090
1966-12-31,1966,12,31,13.00,11.46,10.13,6.34,11.87,7.50,13.50,8.46,11.00,10.04,17.29,22.46,11.920833,6.34,22.46,5.032859
1967-12-31,1967,12,31,16.88,13.75,11.34,9.08,13.54,7.71,11.75,11.83,11.83,11.75,17.25,22.63,13.278333,7.71,22.63,4.592330
1968-12-31,1968,12,31,9.13,2.13,7.38,2.50,4.04,0.50,6.83,2.54,3.54,5.50,5.71,12.42,5.185000,0.50,12.42,3.771819
1969-12-31,1969,12,31,14.42,13.83,27.71,7.08,12.08,10.00,14.58,11.00,12.54,7.12,11.17,17.41,13.245000,7.08,27.71,6.380730
1970-12-31,1970,12,31,8.38,0.37,9.59,2.62,1.75,0.08,4.83,2.13,2.54,1.17,3.67,7.21,3.695000,0.08,9.59,3.349183
1971-12-31,1971,12,31,14.88,10.50,26.08,8.46,13.50,10.04,21.04,10.25,13.54,11.34,12.12,27.33,14.923333,8.46,27.33,6.765581
1972-12-31,1972,12,31,13.83,14.46,15.87,9.75,8.71,11.00,10.67,11.54,11.50,10.75,18.00,17.50,12.798333,8.71,18.00,3.244205
1973-12-31,1973,12,31,10.67,10.04,6.87,1.46,6.96,5.75,3.83,6.21,4.75,6.13,12.79,15.79,7.604167,1.46,15.79,4.490977
1974-12-31,1974,12,31,16.04,16.29,15.21,8.42,13.67,9.75,15.25,16.13,15.04,13.46,18.54,18.46,14.688333,8.42,18.54,3.340292
1975-12-31,1975,12,31,15.59,12.33,13.42,2.37,4.08,1.17,7.08,4.25,5.91,6.34,11.38,19.55,8.622500,1.17,19.55,6.186391
1976-12-31,1976,12,31,8.67,8.83,9.38,3.67,5.37,4.58,7.92,1.79,4.46,4.38,6.38,15.67,6.758333,1.79,15.67,4.231083
1977-12-31,1977,12,31,15.09,7.62,8.79,7.08,10.63,7.58,15.59,11.54,12.25,9.08,14.12,19.55,11.576667,7.08,19.55,4.214596
1978-12-31,1978,12,31,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08,15.402500,9.59,27.29,6.154782

In [2]:
import pandas as pd
help(pd.DataFrame.resample)

Help on function resample in module pandas.core.generic:

resample(self, rule, how=None, axis=0, fill_method=None, closed=None, label=None, convention='start', kind=None, loffset=None, limit=None, base=0, on=None, level=None)
    Convenience method for frequency conversion and resampling of time
    series.  Object must have a datetime-like index (DatetimeIndex,
    PeriodIndex, or TimedeltaIndex), or pass datetime-like values
    to the on or level keyword.

    Parameters
    ----------
    rule : string
        the offset string or object representing target conversion
    axis : int, optional, default 0
    closed : {'right', 'left'}
        Which side of bin interval is closed
    label : {'right', 'left'}
        Which bin edge label to label bucket with
    convention : {'start', 'end', 's', 'e'}
    loffset : timedelta
        Adjust the resampled time labels
    base : int, default 0
        For frequencies that evenly subdivide 1 day, the "origin" of the
        aggregated intervals. For example, for '5min' frequency, base could
        range from 0 through 4. Defaults to 0
    on : string, optional
        For a DataFrame, column to use instead of index for resampling.
        Column must be datetime-like.

        .. versionadded:: 0.19.0

    level : string or int, optional
        For a MultiIndex, level (name or number) to use for
        resampling.  Level must be datetime-like.

        .. versionadded:: 0.19.0

    To learn more about the offset strings, please see `this link
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases>`__.

    Examples
    --------

    Start by creating a series with 9 one minute timestamps.

    >>> index = pd.date_range('1/1/2000', periods=9, freq='T')
    >>> series = pd.Series(range(9), index=index)
    >>> series
    2000-01-01 00:00:00    0
    2000-01-01 00:01:00    1
    2000-01-01 00:02:00    2
    2000-01-01 00:03:00    3
    2000-01-01 00:04:00    4
    2000-01-01 00:05:00    5
    2000-01-01 00:06:00    6
    2000-01-01 00:07:00    7
    2000-01-01 00:08:00    8
    Freq: T, dtype: int64

    Downsample the series into 3 minute bins and sum the values
    of the timestamps falling into a bin.

    >>> series.resample('3T').sum()
    2000-01-01 00:00:00     3
    2000-01-01 00:03:00    12
    2000-01-01 00:06:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but label each
    bin using the right edge instead of the left. Please note that the
    value in the bucket used as the label is not included in the bucket,
    which it labels. For example, in the original series the
    bucket ``2000-01-01 00:03:00`` contains the value 3, but the summed
    value in the resampled bucket with the label``2000-01-01 00:03:00``
    does not include 3 (if it did, the summed value would be 6, not 3).
    To include this value close the right side of the bin interval as
    illustrated in the example below this one.

    >>> series.resample('3T', label='right').sum()
    2000-01-01 00:03:00     3
    2000-01-01 00:06:00    12
    2000-01-01 00:09:00    21
    Freq: 3T, dtype: int64

    Downsample the series into 3 minute bins as above, but close the right
    side of the bin interval.

    >>> series.resample('3T', label='right', closed='right').sum()
    2000-01-01 00:00:00     0
    2000-01-01 00:03:00     6
    2000-01-01 00:06:00    15
    2000-01-01 00:09:00    15
    Freq: 3T, dtype: int64

    Upsample the series into 30 second bins.

    >>> series.resample('30S').asfreq()[0:5] #select first 5 rows
    2000-01-01 00:00:00     0
    2000-01-01 00:00:30   NaN
    2000-01-01 00:01:00     1
    2000-01-01 00:01:30   NaN
    2000-01-01 00:02:00     2
    Freq: 30S, dtype: float64

    Upsample the series into 30 second bins and fill the ``NaN``
    values using the ``pad`` method.

    >>> series.resample('30S').pad()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    0
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    1
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Upsample the series into 30 second bins and fill the
    ``NaN`` values using the ``bfill`` method.

    >>> series.resample('30S').bfill()[0:5]
    2000-01-01 00:00:00    0
    2000-01-01 00:00:30    1
    2000-01-01 00:01:00    1
    2000-01-01 00:01:30    2
    2000-01-01 00:02:00    2
    Freq: 30S, dtype: int64

    Pass a custom function via ``apply``

    >>> def custom_resampler(array_like):
    ...     return np.sum(array_like)+5

    >>> series.resample('3T').apply(custom_resampler)
    2000-01-01 00:00:00     8
    2000-01-01 00:03:00    17
    2000-01-01 00:06:00    26
    Freq: 3T, dtype: int64

## 回答问题14~17请从[这个地址](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data)导入数据，给该数据分配一个变量iris.

In [83]:
import pandas as pd
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data' )
#缺失列名，所以要用header=Noe
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [84]:
#缺失列名，所以要用header=Noe
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data' ,header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
5    5.4  3.9  1.7  0.4     Iris-setosa
6    4.6  3.4  1.4  0.3     Iris-setosa
7    5.0  3.4  1.5  0.2     Iris-setosa
8    4.4  2.9  1.4  0.2     Iris-setosa
9    4.9  3.1  1.5  0.1     Iris-setosa
10   5.4  3.7  1.5  0.2     Iris-setosa
11   4.8  3.4  1.6  0.2     Iris-setosa
12   4.8  3.0  1.4  0.1     Iris-setosa
13   4.3  3.0  1.1  0.1     Iris-setosa
14   5.8  4.0  1.2  0.2     Iris-setosa
15   5.7  4.4  1.5  0.4     Iris-setosa
16   5.4  3.9  1.3  0.4     Iris-setosa
17   5.1  3.5  1.4  0.3     Iris-setosa
18   5.7  3.8  1.7  0.3     Iris-setosa
19   5.1  3.8  1.5  0.3     Iris-setosa
20   5.4  3.4  1.7  0.2     Iris-setosa
21   5.1  3.7  1.5  0.4     Iris-setosa
22   4.6  3.6  1.0  0.2     Iris-setosa
23   5.1  3.3  1.7  0.5     Iris-setosa
24   4.8  3.4  1.9  0.2     Iris-setosa
25   5.0  3.0  1.6  0.2     Iris-setosa
26   5.0  3.4  1.6  0.4     Iris-setosa
27   5.2  3.5  1.5  0.2     Iris-setosa
28   5.2  3.4  1.4  0.2     Iris-setosa
29   4.7  3.2  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
120  6.9  3.2  5.7  2.3  Iris-virginica
121  5.6  2.8  4.9  2.0  Iris-virginica
122  7.7  2.8  6.7  2.0  Iris-virginica
123  6.3  2.7  4.9  1.8  Iris-virginica
124  6.7  3.3  5.7  2.1  Iris-virginica
125  7.2  3.2  6.0  1.8  Iris-virginica
126  6.2  2.8  4.8  1.8  Iris-virginica
127  6.1  3.0  4.9  1.8  Iris-virginica
128  6.4  2.8  5.6  2.1  Iris-virginica
129  7.2  3.0  5.8  1.6  Iris-virginica
130  7.4  2.8  6.1  1.9  Iris-virginica
131  7.9  3.8  6.4  2.0  Iris-virginica
132  6.4  2.8  5.6  2.2  Iris-virginica
133  6.3  2.8  5.1  1.5  Iris-virginica
134  6.1  2.6  5.6  1.4  Iris-virginica
135  7.7  3.0  6.1  2.3  Iris-virginica
136  6.3  3.4  5.6  2.4  Iris-virginica
137  6.4  3.1  5.5  1.8  Iris-virginica
138  6.0  3.0  4.8  1.8  Iris-virginica
139  6.9  3.1  5.4  2.1  Iris-virginica
140  6.7  3.1  5.6  2.4  Iris-virginica
141  6.9  3.1  5.1  2.3  Iris-virginica
142  5.8  2.7  5.1  1.9  Iris-virginica
143  6.8  3.2  5.9  2.3  Iris-virginica
144  6.7  3.3  5.7  2.5  Iris-virginica
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### 问题14. 该数据中缺失了列名，请按照下面给出的名称添加。
- 从左至右分别是
    - sepal_length | sepal_width | petal_length | petal_width | class
- 解题思路：<span style='color:white'>iris.columns = </span>

In [85]:
iris.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
iris[0:3]

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

### 问题15. 1）将10 ~ 29行 'petal_length'列数据设为Nan；2）再将其设为1.0 【请分步操作，保留第1）步结果】
- 解题思路：<span style='color:white'>loc；fillna </span>

In [86]:
iris.loc[10:29,'petal_length']=None
iris.loc[10:29,'petal_length']

10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   NaN
22   NaN
23   NaN
24   NaN
25   NaN
26   NaN
27   NaN
28   NaN
29   NaN
Name: petal_length, dtype: float64

In [87]:
iris.loc[10:29,'petal_length']=1.0
iris.loc[10:29,'petal_length']

10    1.0
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
20    1.0
21    1.0
22    1.0
23    1.0
24    1.0
25    1.0
26    1.0
27    1.0
28    1.0
29    1.0
Name: petal_length, dtype: float64

### 问题16. 删掉class列
- 解题思路：<span style='color:white'>drop </span>

In [5]:
help(pd.DataFrame.drop)

Help on function drop in module pandas.core.generic:

drop(self, labels, axis=0, level=None, inplace=False, errors='raise')
    Return new object with labels in requested axis removed.

    Parameters
    ----------
    labels : single label or list-like
    axis : int or axis name
    level : int or level name, default None
        For MultiIndex
    inplace : bool, default False
        If True, do operation inplace and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and existing labels are dropped.

        .. versionadded:: 0.16.1

    Returns
    -------
    dropped : type of caller

In [88]:
new_iris=iris.drop(axis = 1 , labels = 'class')
new_iris.keys()

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

### 问题17. 1）将前3行所有数值设为Nan；2）删掉有缺失值的行【请分步操作，保留第1）步结果】
- 解题思路：<span style='color:white'>dropna </span>

In [90]:
iris.loc[0:2,:]=None
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width class
0           NaN          NaN           NaN          NaN  None
1           NaN          NaN           NaN          NaN  None
2           NaN          NaN           NaN          NaN  None

In [14]:
help(pd.DataFrame.dropna)

Help on function dropna in module pandas.core.frame:

dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
    Return object with labels on given axis omitted where alternately any
    or all of the data are missing

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, or tuple/list thereof
        Pass tuple or list to drop on multiple axes
    how : {'any', 'all'}
        * any : if any NA values are present, drop that label
        * all : if all values are NA, drop that label
    thresh : int, default None
        int value : require that many non-NA values
    subset : array-like
        Labels along other axis to consider, e.g. if you are dropping rows
        these would be a list of columns to include
    inplace : boolean, default False
        If True, do operation inplace and return None.

    Returns
    -------
    dropped : DataFrame

In [15]:
iris.dropna(how='any',axis=0)

     sepal_length  sepal_width  petal_length  petal_width            class
3             4.6          3.1           1.5          0.2      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
5             5.4          3.9           1.7          0.4      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
7             5.0          3.4           1.5          0.2      Iris-setosa
8             4.4          2.9           1.4          0.2      Iris-setosa
9             4.9          3.1           1.5          0.1      Iris-setosa
30            4.8          3.1           1.6          0.2      Iris-setosa
31            5.4          3.4           1.5          0.4      Iris-setosa
32            5.2          4.1           1.5          0.1      Iris-setosa
33            5.5          4.2           1.4          0.2      Iris-setosa
34            4.9          3.1           1.5          0.1      Iris-setosa
35            5.0          3.2           1.2          0.2      Iris-setosa
36            5.5          3.5           1.3          0.2      Iris-setosa
37            4.9          3.1           1.5          0.1      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
39            5.1          3.4           1.5          0.2      Iris-setosa
40            5.0          3.5           1.3          0.3      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
43            5.0          3.5           1.6          0.6      Iris-setosa
44            5.1          3.8           1.9          0.4      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
46            5.1          3.8           1.6          0.2      Iris-setosa
47            4.6          3.2           1.4          0.2      Iris-setosa
48            5.3          3.7           1.5          0.2      Iris-setosa
49            5.0          3.3           1.4          0.2      Iris-setosa
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
..            ...          ...           ...          ...              ...
120           6.9          3.2           5.7          2.3   Iris-virginica
121           5.6          2.8           4.9          2.0   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
123           6.3          2.7           4.9          1.8   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
126           6.2          2.8           4.8          1.8   Iris-virginica
127           6.1          3.0           4.9          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
133           6.3          2.8           5.1          1.5   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

[127 rows x 5 columns]

## 回答问题18 ~ 20请从本地导入数据‘06_US_Baby_Names_right.csv’，给该数据分配一个变量baby_names.

In [91]:
import pandas as pd
baby_names = pd.read_csv('06_US_Baby_Names_right.csv')
baby_names

         Unnamed: 0       Id       Name  Year Gender State  Count
0             11349    11350       Emma  2004      F    AK     62
1             11350    11351    Madison  2004      F    AK     48
2             11351    11352     Hannah  2004      F    AK     46
3             11352    11353      Grace  2004      F    AK     44
4             11353    11354      Emily  2004      F    AK     41
5             11354    11355    Abigail  2004      F    AK     37
6             11355    11356     Olivia  2004      F    AK     33
7             11356    11357   Isabella  2004      F    AK     30
8             11357    11358     Alyssa  2004      F    AK     29
9             11358    11359     Sophia  2004      F    AK     28
10            11359    11360     Alexis  2004      F    AK     27
11            11360    11361  Elizabeth  2004      F    AK     27
12            11361    11362     Hailey  2004      F    AK     27
13            11362    11363       Anna  2004      F    AK     26
14            11363    11364    Natalie  2004      F    AK     25
15            11364    11365      Sarah  2004      F    AK     25
16            11365    11366     Sydney  2004      F    AK     25
17            11366    11367        Ava  2004      F    AK     23
18            11367    11368    Trinity  2004      F    AK     22
19            11368    11369      Haley  2004      F    AK     21
20            11369    11370     Kaylee  2004      F    AK     21
21            11370    11371     Taylor  2004      F    AK     21
22            11371    11372      Chloe  2004      F    AK     20
23            11372    11373       Ella  2004      F    AK     20
24            11373    11374  Mackenzie  2004      F    AK     20
25            11374    11375     Sierra  2004      F    AK     19
26            11375    11376      Kayla  2004      F    AK     18
27            11376    11377   Samantha  2004      F    AK     18
28            11377    11378        Zoe  2004      F    AK     18
29            11378    11379    Jessica  2004      F    AK     17
...             ...      ...        ...   ...    ...   ...    ...
1016365     5647396  5647397     Brooks  2014      M    WY      5
1016366     5647397  5647398     Calvin  2014      M    WY      5
1016367     5647398  5647399    Cameron  2014      M    WY      5
1016368     5647399  5647400     Dalton  2014      M    WY      5
1016369     5647400  5647401     Dawson  2014      M    WY      5
1016370     5647401  5647402     Edward  2014      M    WY      5
1016371     5647402  5647403      Elias  2014      M    WY      5
1016372     5647403  5647404       Gage  2014      M    WY      5
1016373     5647404  5647405     Hayden  2014      M    WY      5
1016374     5647405  5647406     Jasper  2014      M    WY      5
1016375     5647406  5647407       Jose  2014      M    WY      5
1016376     5647407  5647408     Kaiden  2014      M    WY      5
1016377     5647408  5647409      Kaleb  2014      M    WY      5
1016378     5647409  5647410      Kasen  2014      M    WY      5
1016379     5647410  5647411      Kyson  2014      M    WY      5
1016380     5647411  5647412      Lukas  2014      M    WY      5
1016381     5647412  5647413      Myles  2014      M    WY      5
1016382     5647413  5647414  Nathaniel  2014      M    WY      5
1016383     5647414  5647415      Nolan  2014      M    WY      5
1016384     5647415  5647416     Oakley  2014      M    WY      5
1016385     5647416  5647417       Odin  2014      M    WY      5
1016386     5647417  5647418     Paxton  2014      M    WY      5
1016387     5647418  5647419    Raymond  2014      M    WY      5
1016388     5647419  5647420    Richard  2014      M    WY      5
1016389     5647420  5647421      Rowan  2014      M    WY      5
1016390     5647421  5647422       Seth  2014      M    WY      5
1016391     5647422  5647423    Spencer  2014      M    WY      5
1016392     5647423  5647424       Tyce  2014      M    WY      5
1016393     5647424  5647425     Victor  2014      M    WY      5
1016394     5647425  5647426     Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### 问题18. 男性名字多还是女性名字多?
- 解题思路：<span style='color:white'>groupby('Gender') </span>

In [94]:
baby_names.groupby('Gender')['Gender'].value_counts()

Gender  Gender
F       F         558846
M       M         457549
Name: Gender, dtype: int64

### 问题19. 最常见的名字是？
- 解题思路：<span style='color:white'>names.Count.sum() </span>

In [95]:
print(baby_names['Name'].value_counts())#默认降序排列频次
type(baby_names['Name'].value_counts())
baby_names['Name'].value_counts().keys()[0]#取第一个则为最大的（最多的，最常见的）

Riley        1112
Avery        1080
Jordan       1073
Peyton       1064
Hayden       1049
Taylor       1033
Jayden       1031
Alexis        984
Payton        971
Dakota        962
Angel         962
Logan         957
Parker        947
Morgan        945
Cameron       944
Ryan          901
Dylan         895
Skyler        895
Reese         880
Quinn         873
Kayden        872
Skylar        872
Rowan         842
Jaden         840
Charlie       816
Rylee         799
Emerson       798
Kendall       793
Micah         788
Jaiden        779
             ...
Axxel           1
Dashun          1
Dilara          1
Harshaan        1
Franki          1
Dariya          1
Vinicio         1
Ladarion        1
Astha           1
Yanellie        1
Efrayim         1
Majestic        1
Doc             1
Leily           1
Halimatou       1
Euna            1
Lorie           1
Oracio          1
Solstice        1
Jahnasia        1
Areej           1
Jdyn            1
Allyzon         1
Amyriah         1
Pesha           1
Josejuan        1
Retaj           1
Paxtyn          1
Aleanna         1
Omaria          1
Name: Name, dtype: int64

'Riley'

### 问题20. 最少见的名字出现了多少次？有多少个名字是最少见的？
- 解题思路：<span style='color:white'>首先给名字统计出现次数并给次数排序sort_values()，然后统计出现了该次数的名字count() </span>

In [98]:
print('最少见的名字出现了多少次:',baby_names['Name'].value_counts().min())#最少1次
names =pd.DataFrame(baby_names['Name'].value_counts())
names.columns=['count']
names['count'].value_counts().sum()#有多少个名字是最少见的？即出现1次的名字有多少

最少见的名字出现了多少次: 1

17632